/client_secrets.json
/a_credentials_file
/users.json
/env
*.pyc
/schedulesite/schedulesite/settings.py

/schedulesite/futuschedule/static/futuschedule/bower_components/
/node_modules/
/schedulesite/futuschedule/static/futuschedule/js/build/
