{% load staticfiles %}
<!doctype html5>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css"
    href="{% static 'futuintro/css/style.css' %}">
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="{% static 'futuintro/js/lib/jquery.cookie.js' %}"></script>
  <script src="http://fb.me/react-0.10.0.js"></script>
  <script src="http://fb.me/JSXTransformer-0.10.0.js"></script>
  <script src="{% static 'futuintro/js/util.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuintro/js/timezones.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuintro/js/schedule-templates.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuintro/js/schedule-template-detail.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuintro/js/new-schedule.js' %}" type="text/jsx"></script>
</head>
<body>
  <nav id="main-nav">
    <a href="{% url 'timezones' %}">TimeZones</a> |
    <a href="{% url 'schedule-templates' %}">Schedule Templates</a> |
    <a href="{% url 'new-schedule-page' %}">Create New Schedule</a>
  </nav>

  <div id="main-content">
    {% block body %}
    {% endblock %}
  </div>
</body>
</html>
