section.event-template {
	border: dashed gray;
	padding: 1em;
	background-color: lavender;
}

section.event-template {
	margin-top: 1em;
}

section.event-template td {
	vertical-align: top;
}

ul.invitees {
	margin: 0;
}

input.time-input {
	width: 5em;
}

input.day-number {
	width: 3em;
}

button.remove-event {
	color: red;
}

button.add-event {
	color: green;
}

.attended-yes {
	color: green;
}

.attended-no {
	color: red;
}

td.attendance {
	text-align: center;
}

.event-report {
	background-color: azure;
	border: dotted;
	margin: 1em;
}

.complete {
	color: green;
}

.incomplete {
	color: red;
}

section.new-employee-list td {
	vertical-align: top;
}

section.new-employee-event td {
	vertical-align: top;
}

section.group-event {
	background-color: cornsilk;
}

section.individual-events {
	background-color: mistyrose;
}

div.individual-event {
	background-color: lightpink;
	border: dashed gray;
	margin: 1em;
}
