{% load staticfiles %}
<!doctype html5>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css"
    href="{% static 'futuschedule/css/style.css' %}">
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="{% static 'futuschedule/js/lib/jquery.cookie.js' %}"></script>
  <script src="{% static 'futuschedule/js/lib/react-0.10.0.js' %}"></script>
  <script src="{% static 'futuschedule/js/lib/JSXTransformer-0.10.0.js' %}"></script>
  <script src="{% static 'futuschedule/js/util.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuschedule/js/timezones.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuschedule/js/schedule-templates.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuschedule/js/schedule-template-detail.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuschedule/js/new-schedule.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuschedule/js/scheduling-requests.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuschedule/js/scheduling-request-detail.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuschedule/js/schedules.js' %}" type="text/jsx"></script>
  <script src="{% static 'futuschedule/js/schedule-detail.js' %}" type="text/jsx"></script>

  {% block head_extra %}{% endblock %}
</head>
<body>
  <nav id="main-nav">
    <a href="{% url 'timezones' %}">TimeZones</a> |
    <a href="{% url 'schedule-templates' %}">Schedule Templates</a> |
    <a href="{% url 'new-schedule-page' %}">Create New Schedule</a> |
    <a href="{% url 'schedules' %}">Schedules</a> |
    <a href="{% url 'scheduling-requests' %}">Scheduling Requests</a>
  </nav>

  <div id="main-content">
    {% block body %}
    Welcome! Use the links above to navigate.
    {% endblock %}
  </div>
</body>
</html>
