{% load staticfiles %}
<!doctype html5>
<html>
<head>
  <title>{% block title %}Schedule{% endblock %}</title>
  <link rel="stylesheet" type="text/css"
    href="{% static 'futuschedule/css/style.css' %}">
  <script src="{% static 'futuschedule/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'futuschedule/bower_components/jquery.cookie/jquery.cookie.js' %}"></script>
  <script src="{% static 'futuschedule/bower_components/react/react.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/util.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/timezones.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/calendars.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/schedule-templates.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/schedule-template-detail.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/new-schedule.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/scheduling-requests.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/scheduling-request-detail.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/schedules.js' %}"></script>
  <script src="{% static 'futuschedule/js/build/schedule-detail.js' %}"></script>

  {% block head_extra %}{% endblock %}
</head>
<body>
  <nav id="main-nav">
    <ul id="main-nav-list">
      <li><a href="{% url 'schedule-templates' %}">Templates</a></li>
      <li><a href="{% url 'new-schedule-page' %}">Create New Schedule</a></li>
      <li><a href="{% url 'scheduling-requests' %}">Scheduling Requests</a></li>
      <li><a href="{% url 'schedules' %}">Personal Schedules</a></li>
      <li><a href="{% url 'timezones' %}">TimeZones</a></li>
      <li><a href="{% url 'calendars' %}">Calendars</a></li>
    </ul>
  </nav>

  <div id="main-content">
    {% block body %}
    Welcome! Use the links above to navigate.
    {% endblock %}
  </div>
</body>
</html>
